<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsoft.cuandollega" >

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.samsoft.cuandollega.CLMain"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.samsoft.cuandollega.calleSearch"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_calle_search" >
        </activity>
        <activity
            android:name="com.samsoft.cuandollega.colectivoSearch"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_colectivo_search" >
        </activity>
        <activity
            android:name="com.samsoft.cuandollega.paradasinfo"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_paradasinfo" >
        </activity>
        <activity
            android:name="com.samsoft.cuandollega.favoriteScreen"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_favorite_screen" >
        </activity>
        <!--
        <activity android:name="com.samsoft.cuandollega.widgets.favoritaWConfigureActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name="com.samsoft.cuandollega.widgets.favoritaW" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorita_w_info" />
        </receiver> -->
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

</manifest>
